

.title{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.loader {

  height: 100px;
  width: 100px;

}

.leafCss {
  height: 400px;
  width: 400px;
  border: black solid 1px;

}

.mapView{
width: 100px;
  height: 100px;
}